body {
  background-color: #d4ffd6;
}

main {
  text-align: center;
}

.map-contents {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.map {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #035202;
  border-radius: 5px;
  background-size: cover;
}

.map p {
  text-align: center;
  margin: 0; /* 余白を除去 */
}

.map.selected {
  background-color: #4CAF50;
  color: white;
}




#ep {
  margin-right: 10px;
}

button {
  cursor: pointer;
  padding: 10px;
  background-color: #07c900;
  color: white;
  border: none;
  border-radius: 5px;
}

button.multiplier {
  background-color: grey;
  color: white;
  padding: 10px;
  cursor: pointer;
}

button.multiplier:hover {
  background-color: #333;
}

#score,
#hour {
  margin-top: 20px;
  font-weight: bold;
}

#map1 {
  background-image: url('wakakusa2.jpg');
}

#map1.selected {
  background-image: url('wakakusa3.jpg');
  color: white;
}

#map2 {
  background-image: url('siann2.jpg');
}

#map2.selected {
  background-image: url('siann3.jpg');
  color: white;
}

#map3 {
  background-image: url('to-pu2.jpg');
}

#map3.selected {
  background-image: url('to-pu3.jpg');
  color: white;
}

#map4 {
  background-image: url('unohana2.jpg');
}

#map4.selected {
  background-image: url('unohana3.jpg');
  color: white;
}

#map5 {
  background-image:none
}

#map6 {
  background-image:none
}
